<nav class="">
    <div class="">
        <a class="header_title" [routerLink]="['/']" >Micro BANK</a>
        <div id="" class="menu_list">
            <ul class="">
                <li *ngIf="authentification.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >
                    <a title="Visualiser tout les mouvement" [routerLink]="['/dashboard']">Dashboard</a></li>
                
                <li *ngIf="authentification.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >
                    <a title="Faire un mouvement" [routerLink]="['/mouvement']">Mouvement</a></li>
                
                <li *ngIf="authentification.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >
                    <a title="Voir les mouvement planifié" [routerLink]="['/historique_mouvement']">Historique Mouvement</a></li>
                
                <li *ngIf="authentification.loggedIn()" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: true}" >
                    <a title="Paramettre du profile" [routerLink]="['/profile']">Profile</a></li>
                
                <li *ngIf="authentification.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >
                    <a title="Contacter un conseillé (Chat)" [routerLink]="['/messaging']">Chat client</a></li>
                
                <li *ngIf="authentification.loggedIn()" ><a (click)="onLogoutClick()" href="#" >Deconnexion</a></li>
            </ul>
        </div>
    </div>
</nav>
