<div class="customer_service">
    <h2>The Panama BANK</h2>
    <p>Welcome to the Panama Bank Customer service !</p>

    <div *ngFor="let message of messages" class="chat_messages">
        <p class="{{message.text.user._id === user._id ? 'thisUser':'autherUser'}}">
            <span> {{message.text.user.firstName}} : </span> {{message.text.content}}
        </p>
    </div>
    <p>
        <textarea rows="3" cols="40" [(ngModel)]="inputMessage" name="inputMessage"></textarea>
    </p>
    <p> <button (click)="sendMessage()">Send</button> </p>
</div>
