<div class="jumbotron text-center">
    <h1>MEAN Auth App</h1>
    <p class="lead">Welcom</p>
    <div>
        <a [routerLink]="['/inscription']" class="btn btn-primary">Inscription</a>
        <a [routerLink]="['/connexion']" class="btn btn-primary">Connexion</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Lorem ipsum dolor.</h3>
        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos omnis quaerat obcaecati ape   riam culpa voluptates, sit unde, soluta laboriosam minus eius delectus fuga saepe qui, pariatur laudantium mollitia vitae nam!</P>
    </div>
    <div class="col-md-4">
        <h3>Lorem ipsum dolor.</h3>
        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ab saepe quasi reiciendis corporis exercitationem repellendus eius officia nesciunt, incidunt soluta, suscipit, tempora optio a. Earum tenetur enim quo asperiores.</P>
    </div>
    <div class="col-md-4">
        <h3>Lorem ipsum dolor.</h3>
        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus reiciendis officia, iste ipsa quisquam natus libero eius iusto, omnis atque sapiente pariatur esse at similique dolorum vitae quasi quo eaque!</P>
    </div>
</div>
