<div class="sold_wrapper">
    <div *ngIf="soldData">
        <div class="local_currency">
            <p class="euro_currency">{{soldData.amount}}<span> €</span></p>
        </div>
        <div class="foreign_currency">
            <p class="dollar_currency">{{soldData.amount}}<span> $</span></p>
            <p class="pound_currency">{{soldData.amount}}<span> £</span></p>
        </div>
    </div>
    <div *ngIf="!soldData">
        <p>Sold indisponible pour le moment !!!</p>
    </div>
</div>
<div class="transactions_wrapper">
    <div *ngIf="transactionsData">
        
        <ul>
            <li *ngFor="let transaction of transactionsData"> 
                <p class="{{userData ? (userData._id===transaction.user_id ? 'sent_trans' : 'received_trans') : ('') }}"> 
                    <span>{{userData ? (userData._id===transaction.user_id ? '-' : '+') : ('') }}</span>
                    {{transaction.amount}} <span>€</span>
                </p>
                <p> {{transaction.dateOpperation | date}} </p>
                <p> {{transaction.description}} </p>
                <!--<p> <a>Details</a> </p>-->
            </li>
        </ul>
    </div>
    <div *ngIf="!transactionsData">
        <p>Aucun mouvement à afficher !!!</p>
    </div>
</div>
